
<header>
<nav>
  <div id="menu">
    <ul>
      <li><a href="">Inicio</a></li>
      <li><a href="">Especialidades</a></li>
      <li><a href="">Sobre</a></li>
      <li><a href="">Projetos</a></li>
    </ul>
  </div>
</nav>
  <button><strong>Contato</strong></button>
</header>
<div id="container">
   <div id="textos">
      <h1>
        <strong>Hi 👋, I'm Gabriel Ramos Programmer | Full-Stack Developer | Tech Enthusiast from Brazil</strong>
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper elit sit amet sapien pulvinar interdum. Donec convallis et est quis pulvinar. Mauris a velit faucibus, bibendum urna eu, vulputate turpis. Nullam bibendum feugiat nisl, faucibus mollis nisl porta nec. Aliquam a sagittis erat, ut blandit dolor. Phasellus malesuada rutrum eros a facilisis. Etiam luctus, justo nec suscipit ultrices, velit dui condimentum odio, in bibendum quam nunc vel nibh. Suspendisse varius nec nisi vitae faucibus.</p>
      <button>Entre em contato</button>
    </div>
   <div id="foto">
      
   </div>
</div>